/*
	
	Logan Ercanbrack
	March 19, 2024
	SWDV-115
	
 */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}

html {
	background-image: url("../images/jewelry.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

body {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}

h2 {

	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 2em;
}

main {
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}



nav ul {

	list-style-type: none;
	font-size: 1.5em;
}

header {
	position: relative;
	bottom: 45px;
}


header img {
	float: left;
	border-radius: 50%;
}


nav {

	float: none;
}

.addrightmargin {
	margin-right: 10%;

}

#outerwrapper {
	border-radius: 15%;
	background: rgba(243, 205, 170, 0.4);
	max-width: 70vw;
	margin: 20px;
}

footer {
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}